*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 5vh;
    justify-content: center;
}

.button {
    width: 80px;
}